@charset "UTF-8";
.marginL { 
	margin-left: 10%;
}
#menu {
	color: #4D84AB;
    height: 50px;
	font-size: 1.1em;
    background: #4D84AB;
    border: 1px solid #4D84AB;
    box-sizing: content-box;
}
.main1 {
    width: 600px;
    height: 100%;
    margin: 0 auto;
}
ul.main3 {
    position: absolute;
    margin-bottom: -20px;
    margin-left: -2px;
}
.main1>li {
    float: left;
    width: 20%;
    line-height: 50px;
    text-align: center;
    position: relative;
}
.main1>li:hover .main2 {
    left: 0;
}
.main1>li a {
    display: block;
}
.main1>li a:hover {
    background: #ffffff;
    text-decoration: none;
    color: #4D84AB;
    font-weight: bold;
}
li>a{ color: #000000; }
.main2 {
    position: absolute;
    top: 50px;
    left: -9999px;
	color: #4D84AB;
    background: #ffffff;
    border: 1px solid #4D84AB;
    width: 130%;
}
.main2>li {
    position: relative;
}
.main2>li:hover .main3 {
    left: 100%;
}
.main2>li a, .main3>li a {
	color: #4D84AB;
    margin: 10px;
}
.main2>li a:hover {
	color: #4D84AB;
	text-decoration: underline;
}
.main3 {
    position: absolute;
    top: 0;
	border: 1px solid #4D84AB;
    background: #ffffff;
    color: #4D84AB;
    left: -9999px;
    width: 130%;
    margin-right: 5px;
}
.main3>li a:hover {
    background: #ffffff;
    color: #4D84AB;
}
ul{
    list-style:none;
    list-style-type:none;
}